# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

# JWT Configuration
JWT_SECRET=

# Server Configuration
PORT=5000
NODE_ENV=development


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
FRONTEND_URL=http://localhost:5173  # Your frontend URL